
h1 {
    font: bold 24px Arial;
}

h3 {
    font: 18px Arial;
}

h4 {
    color: #73808D;
    font-family: Arial;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 257.143% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #dfd47c;
}

.img_icon {
    height: 60px;
    padding: 5px 15px;
}

.footer_date {
    font: bold 1.2em Arial;
}